@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 3.125vw;
		@screen xs {
			font-size: 12px;
		}
		@screen md {
			font-size: 14px;
		}
		@media (min-width: 768px) {
			font-size: 16px;
		}
	}
	:root {
		--btn-text-case: none;
		@apply font-serif bg-base-200 overscroll-none size-0;
		font-variation-settings: "PADG" 10;
	}
	body {
		@apply overflow-hidden;
	}
	h1 {
		@apply text-3xl font-bold whitespace-nowrap;
	}
	h2 {
		@apply text-1.5xl text-slate-500 whitespace-nowrap;
	}
	h3 {
		@apply text-2.5xl font-bold whitespace-nowrap;
	}
	h4 {
		@apply text-1.5xl font-semibold whitespace-nowrap;
	}
	a {
		@apply link link-primary no-underline;
	}
	b {
		@apply font-extrabold;
	}
	ruby {
		@apply inline-flex flex-col-reverse items-center gap-0.5 align-bottom;
	}
}

@layer components {
	.tooltip {
		--tooltip-tail: 0.5rem;
		--tooltip-offset: calc(100% + var(--tooltip-tail));
	}
	.tooltip.tooltip-close:hover:before,
	.tooltip.tooltip-close:hover:after,
	.tooltip.tooltip-close:has(:focus-visible):before,
	.tooltip.tooltip-close:has(:focus-visible):after,
	.tooltip.tooltip-open:not([data-tip]):hover:before,
	.tooltip.tooltip-open:not([data-tip]):hover:after,
	.dropdown-content:not(:hover):focus-within {
		@apply invisible opacity-0;
	}
	.modal:not([open]) * {
		/* https://stackoverflow.com/a/66951594 */
		visibility: hidden;
		/* Follows DaisyUI */
		transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
	}
	#about-dialog :where(p, ul, ol) {
		@apply text-xl md:text-lg mx-6 my-3;
		&:first-child,
		hr + &,
		& + hr {
			/* must be transformed by transpiler conforming the web standard (postcss-nesting, not postcss-nested) for this to work */
			@apply mt-4.5;
		}
		&:last-child {
			@apply mb-6;
		}
	}
	label.btn:has(input:focus-visible) {
		@apply outline outline-2 outline-offset-2;
	}
}

/* https://w3c.github.io/predefined-counter-styles/#circled-decimal */
@counter-style circled-decimal {
	system: fixed 0;
	symbols: "\24EA" "\2460" "\2461" "\2462" "\2463" "\2464" "\2465" "\2466" "\2467" "\2468" "\2469" "\246A" "\246B" "\246C" "\246D" "\246E" "\246F" "\2470" "\2471" "\2472" "\2473" "\3251" "\3252" "\3253" "\3254" "\3255" "\3256" "\3257" "\3258" "\3259" "\325a" "\325b" "\325c" "\325d" "\325e" "\325f" "\32b1" "\32b2" "\32b3" "\32b4" "\32b5" "\32b6" "\32b7" "\32b8" "\32b9" "\32ba" "\32bb" "\32bc" "\32bd" "\32be" "\32bf";
	suffix: " ";
}

@counter-style squared-decimal {
	system: extends decimal;
	prefix: "[";
	suffix: "] ";
}
